<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>Controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddFoodController</servlet-name>
        <servlet-class>Controller.AdminAddFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddProductController</servlet-name>
        <servlet-class>Controller.AdminAddProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadData</servlet-name>
        <servlet-class>Controller.LoadData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryFood</servlet-name>
        <servlet-class>Controller.LoadCategoryFood</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchProductController</servlet-name>
        <servlet-class>Controller.AdminSearchProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteProductController</servlet-name>
        <servlet-class>Controller.AdminDeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditProductController</servlet-name>
        <servlet-class>Controller.AdminEditProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProductController</servlet-name>
        <servlet-class>Controller.AdminUpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchUserController</servlet-name>
        <servlet-class>Controller.AdminSearchUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <servlet-class>Controller.AdminDeleteUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchFoodController</servlet-name>
        <servlet-class>Controller.UserSearchFoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddCartController</servlet-name>
        <servlet-class>Controller.UserAddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDeleteCartController</servlet-name>
        <servlet-class>Controller.UserDeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdateCartController</servlet-name>
        <servlet-class>Controller.UserUpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserCheckOutController</servlet-name>
        <servlet-class>Controller.UserCheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewTransactionController</servlet-name>
        <servlet-class>Controller.AdminViewTransactionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddFoodController</servlet-name>
        <url-pattern>/AdminAddFoodCOntroller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddProductController</servlet-name>
        <url-pattern>/AdminAddProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadData</servlet-name>
        <url-pattern>/LoadData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryFood</servlet-name>
        <url-pattern>/LoadCategoryFood</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchProductController</servlet-name>
        <url-pattern>/AdminSearchProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteProductController</servlet-name>
        <url-pattern>/AdminDeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditProductController</servlet-name>
        <url-pattern>/AdminEditProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProductController</servlet-name>
        <url-pattern>/AdminUpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchUserController</servlet-name>
        <url-pattern>/AdminSearchUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteUserController</servlet-name>
        <url-pattern>/AdminDeleteUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchFoodController</servlet-name>
        <url-pattern>/UserSearchFoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddCartController</servlet-name>
        <url-pattern>/UserAddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDeleteCartController</servlet-name>
        <url-pattern>/UserDeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdateCartController</servlet-name>
        <url-pattern>/UserUpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserCheckOutController</servlet-name>
        <url-pattern>/UserCheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewTransactionController</servlet-name>
        <url-pattern>/AdminViewTransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
